.searchBar {
    --box-shadow: 'none';
}

.cancelButtonText {
    font-size: 12px;
    color: #C3C3C3;
}

.searchPref {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.searchPrefLabel {
    text-transform: none;
    color: black;
    font-weight: bold;
}

.prefButton {
    min-width: auto;
    --color-checked: black;
    --color-focused: white;
    padding: 0;
}

.searchContent {
    --background: #EDECEA;
}