.guidesCaption {
    top: 7%;
    left: 0;
    margin: 20px;
    font-size: 17px;
    text-align: left;
    color: black;
    font-weight: bold;
    position: absolute;
}

.guidesImage {
    width: 110%;
    border-radius: 0px 30px 30px 0px;
    margin: 0px;
    padding: 0px;
    height: 150px;
}

.imageCol {
    margin: 0;
    width: 100%;
    padding: 0px;
}

.guidesCard {
    height: 150px;
}



